<div [hidden]="hide">
<nav>
  <a class="nav-link" routerLink="/Home"><img src="assets/images/5973800.png" style="height: 40px;width: 40px  ;"></a>
  <a class="nav-link" routerLink="/AboutUs"><img src="assets/images/asdfg.png" style="height: 40px;width: 40px  ;"></a>
  <a class="nav-link" routerLink="/ContactUs"><img src="assets/images/im.png" style="height: 40px;width: 40px  ;"></a>
  <input  class="log" type="button" value="Log Out" (click)="logout()"/>
</nav>
 

</div>
<router-outlet></router-outlet>
